<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridgemagic.mapper.AuditLogMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO audit_log (user_id, username, action, detail, ip) VALUES (#{userId}, #{username}, #{action}, #{detail}, #{ip})
    </insert>
    <select id="findAll" resultType="com.fridgemagic.entity.AuditLog">
        SELECT * FROM audit_log ORDER BY created_at DESC LIMIT #{offset}, #{limit}
    </select>
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM audit_log
    </select>
</mapper>