<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridgemagic.mapper.FavoriteMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO favorite_recipe (user_id, recipe_id) VALUES (#{userId}, #{recipeId})
    </insert>

    <delete id="delete">
        DELETE FROM favorite_recipe WHERE user_id = #{userId} AND recipe_id = #{recipeId}
    </delete>

    <select id="findByUserAndRecipe" resultType="com.fridgemagic.entity.FavoriteRecipe">
        SELECT * FROM favorite_recipe WHERE user_id = #{userId} AND recipe_id = #{recipeId}
    </select>

    <select id="findByUserId" resultType="com.fridgemagic.entity.FavoriteRecipe">
        SELECT * FROM favorite_recipe WHERE user_id = #{userId} ORDER BY created_at DESC
    </select>

</mapper>