<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridgemagic.mapper.IngredientMapper">
    <select id="findByUserId" resultType="com.fridgemagic.entity.CustomIngredient">
        SELECT * FROM custom_ingredient WHERE user_id = #{userId} ORDER BY created_at ASC
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO custom_ingredient (user_id, name, emoji) VALUES (#{userId}, #{name}, #{emoji})
    </insert>
    <delete id="delete">
        DELETE FROM custom_ingredient WHERE id = #{id} AND user_id = #{userId}
    </delete>
</mapper>