<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridgemagic.mapper.RatingMapper">
    <insert id="insert">
        INSERT INTO recipe_rating (user_id, recipe_id, rating) VALUES (#{userId}, #{recipeId}, #{rating})
    </insert>
    <select id="findByUserAndRecipe" resultType="com.fridgemagic.entity.RecipeRating">
        SELECT * FROM recipe_rating WHERE user_id = #{userId} AND recipe_id = #{recipeId}
    </select>
    <select id="avgRating" resultType="java.lang.Double">
        SELECT AVG(rating) FROM recipe_rating WHERE recipe_id = #{recipeId}
    </select>
</mapper>