<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridgemagic.mapper.WeeklyPlanMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO weekly_plan (user_id, week_start, day_of_week, meal_type, recipe_id, recipe_name) VALUES (#{userId}, #{weekStart}, #{dayOfWeek}, #{mealType}, #{recipeId}, #{recipeName})
    </insert>
    <select id="findByUserIdAndWeek" resultType="com.fridgemagic.entity.WeeklyPlan">
        SELECT * FROM weekly_plan WHERE user_id = #{userId} AND week_start = #{weekStart} ORDER BY day_of_week, meal_type
    </select>
    <delete id="deleteByWeek">
        DELETE FROM weekly_plan WHERE user_id = #{userId} AND week_start = #{weekStart}
    </delete>
</mapper>