registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
python_mirror=https://npmmirror.com/mirrors/python
strict-ssl=false
fetch-timeout=600000
fetch-retries=5
loglevel=info
