@use './styles/theme.scss' as *;
@use './styles/variables.scss' as *;

page {
  background-color: $color-bg-page;
  color: $color-text-primary;
  font-size: $font-size-base;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}