<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tongban.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>瞳伴</name>
    <description>
        AI视障出行助手 - 让视障人士出行更安全、更便捷
    </description>
    <author email="support@tongban.app" href="https://tongban.app">
        瞳伴团队
    </author>
    <content src="index.html" />
    <icon src="res/icon/icon-xxhdpi.png" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#FFFFFF" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="WKWebViewOnly" value="true" />
    <preference name="SplashScreen" value="none" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="deployment-target" value="13.0" />
    <preference name="SwiftVersion" value="5" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="android-hardwareAccelerated" value="true" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon.png" />
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <preference name="BackupWebStorage" value="none" />
        <preference name="KeyboardShrinksView" value="false" />
        <preference name="GapBetweenPages" value="0" />
        <preference name="PageLength" value="0" />
        <preference name="PaginationBreakingMode" value="page" />
        <preference name="PaginationMode" value="unpaginated" />
        <preference name="SuppressesLongPressGesture" value="true" />
        <preference name="Suppresses3DTouchGesture" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>需要使用摄像头进行环境识别，帮助您安全出行</string>
        </config-file>
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>需要使用麦克风进行语音交互</string>
        </config-file>
        <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
            <string>需要获取您的位置信息以提供导航服务</string>
        </config-file>
        <config-file parent="NSLocationAlwaysAndWhenInUseUsageDescription" target="*-Info.plist">
            <string>需要持续获取您的位置信息以实现导航和安全围栏功能</string>
        </config-file>
        <config-file parent="NSContactsUsageDescription" target="*-Info.plist">
            <string>需要访问通讯录以添加紧急联系人</string>
        </config-file>
        <config-file parent="NSSpeechRecognitionUsageDescription" target="*-Info.plist">
            <string>需要使用语音识别功能进行语音交互</string>
        </config-file>
        <config-file parent="UIBackgroundModes" target="*-Info.plist">
            <array>
                <string>location</string>
                <string>audio</string>
                <string>fetch</string>
            </array>
        </config-file>
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^4.0.0" />
    <plugin name="cordova-plugin-device" spec="^3.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    <engine name="android" spec="^13.0.0" />
</widget>
