# dependencies
node_modules/

# build
dist/
*.tsbuildinfo

# vite
.vite/
vite.config.js
vite.config.d.ts

# env
.env
.env.*

# editor
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
