# Output
backend/coin-kids.db
backend/coin-kids.db-wal
backend/coin-kids.db-shm

# Node
frontend/node_modules
frontend/dist

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
*.env.local

# Logs
*.log

# Go
*.exe
*.test